// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Sarabun', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
$primary: #0171e3;
$light: #ebebeb;

$grid-gutter-width: 16px;

$topbar-bg: #2362C8;
$topbar-color: #fff;
$topbar-shadow: 0 1px 5px 0 rgba(41,85,115,.21);

//$topbar-bg: #fff;
// $topbar-color: #5f6368;

$sidebar-width: 228px;
$sidebar-bg: #f4f4f4;
$sidebar-color: #3c4043;

$sidebar-collapsed-width: 56px;
// $sidebar-active-bg: #fff;

$sidebar-sub-width: 200px;
$sidebar-sub-bg: #fff;

$btn-padding-y-super: 17px;
$btn-padding-x-super: 31px;
$btn-font-size-super: 17px;
$btn-border-radius-super: 12px;
$btn-line-height-super: 1.17648;

